* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
}

.container {
   position: relative;
   height: 100%;
   width: 100%;
   background-color: rgb(241, 241, 241);
}

.menu {
   position: absolute;
   left: 0px;
   width: 50px;
   height: 80vh;
   margin-top: 50px;
   background-color: rgb(199, 199, 199);
   border-right: 3px solid rgb(139, 139, 139);
   border-top: 3px solid rgb(139, 139, 139);
   border-bottom: 3px solid rgb(139, 139, 139);
   border-top-right-radius: 50px 50px;
   border-bottom-right-radius: 50px 50px;
   transition: 0.3s;
}

.menu:hover {width: 200px;}
